﻿@model List<ViewModels.HomeVM>
@{
    ViewData["Title"] = "Home Page";
}

<style>

    .eapps-link {
        all: revert;

    }
</style>
<div class="d-flex justify-content-center mt-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="width:100%; height:500px">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/Habitacion popular 1.jpeg" class="d-block w-100 " alt="..." height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        ISLANDER JUNIOR SUITE
                    </h5>
                    <p>Adelante, déjate consentir con ricos detalles, decoración moderna y servicio complaciente es muy fácil consentirse en nuestra Islander Junior Suite.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/Habitacion popular 2.jpeg" class="d-block w-100" alt="..." height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        CARIBBEAN SUITE
                    </h5>
                    <p>Hay una jungla allá afuera. Literalmente. Disfruta desde la privacidad de tu balcón en habitaciones con cama king o dos camas dobles. Pero eso sólo es el inicio.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/Habitacion popular 3.jpeg" class="d-block w-100" alt="..." height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>CARIBBEAN SAND SUITE</h5>
                    <p>Hay una jungla allá afuera. Literalmente. Disfruta desde la privacidad de tu balcón. Esto es sólo el inicio. </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


@*<div class="float-right " style="width:50%;">
        <div class="row row-cols-1 row-cols-md-2 ">
                <div class="col">
                    <div class="card"  style="width: 18rem;">
                        <img src="~/img/2021-03-16 21_34_08-Window.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/2021-03-16 21_34_08-Window.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"  style="width: 18rem;">
                        <img src="~/img/2021-03-16 21_34_08-Window.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 18rem;">
                    <div class="card">
                        <img src="~/img/2021-03-16 21_34_08-Window.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>



    </div>*@


<div class="clr"></div>

<div class="row">
    <div class="col-lg-3">
        <div class=" card bg-light shadow-sm mt-5">
            <div class="card-body">
                <h4 class=""><strong>SOBRE EL HOTEL: </strong></h4>

                <p class="sobrenosotros margin-izquierda">
                    Somos un nuevo hotel en la línea de resorts Sun,
                    con una capacidad para 7,000 huéspedes con una <br> gran variedad de
                    restaurantes y una playa al nivel de las mejores de la región.
                </p>

            </div>
        </div>
    </div><!--end panelIzquierdo-->

    <div class="col-lg-9">
        <div class="d-inline-block pt-3 pl-3 shadow-sm mt-5 bg-light w-100">
            <h5 class=""><strong>OFERTAS MAS BUSCADAS</strong></h5>
        </div>

        <div class="row row-cols-1 row-cols-md-2 mt-3">
            @foreach (var item in Model)
            {
                var photopath = "~/img/habitacion/" + (!string.IsNullOrEmpty(item.Img) ? @item.Img : "Habitacion popular 3.jpeg");

                <div class="col mb-4">
                    <div class="card">
                        <img src="@photopath" asp-append-version="true" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                @item.Nombre
                            </h5>
                            <a class="btn btn-outline-info  btn-lg w-100 text-decoration-none" asp-action="Habitacion" asp-route-id="@item.id">Detalles</a>
                        </div>
                    </div>
                </div>

                @*<div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@photopath" alt="..." asp-append-version="true"  width="150" height="150" >
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nombre</h5>
                                    <a class="btn btn-primary btn-sm ">Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>*@


            }


        </div>


    </div>
    <!--end panelCentral-->

</div>

<div class="clr"></div>

@*<h3 class="imagenes"><strong>Imágenes sobre el hotel: </strong></h3> <br>

    <img src="~/img/2021-03-16 21_34_08-Window.png" width="350" height="200">
    <img src="~/img/2021-03-16 21_35_41-Window.png" width="350" height="200"> <br>
    <img src="~/img/2021-03-16 21_36_05-Window.png" width="350" height="200">
    <img src="~/img/2021-03-16 21_36_33-Window.png" width="350" height="200">
    <img src="~/img/2021-03-16 21_44_25-Window.png" width="350" height="200">
    <img src="~/img/2021-03-16 21_45_27-Window.png" width="350" height="200">*@



@*<div class="col-2 footer-derecha margin-top">
        <div>
            <a href="https://twitter.com/"><img src="~/img/twitter.png" width="40" height="40"></a>
        </div>

        <div class="margin-top">
            <a href="https://www.instagram.com/"><img src="~/img/ig.png" width="40" height="40"></a>
        </div>

        <div class="margin-top">
            <a href="https://www.facebook.com/"><img src="~/img/face.png" width="40" height="40"></a>
        </div>
    </div>*@


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        console.log("DOM fully loaded and parsed");
   
    var a = document.getElementsByClassName("eapps-link");
        a.style.display = "none";
        console.log(a);
    });
</script>